/Kiawa_Main/Kiawa_Dominio/nbproject/
/Kiawa_Proyecto/DTO_Negocios/target/
/Kiawa_Proyecto/Kiawa_Dominio/target/
/Kiawa_Proyecto/Kiawa_Dominio/nbproject/
/Kiawa_Proyecto/Subsistema_Infraestructura/target/
/Kiawa_Proyecto/Objetos_Negocios/target/
/Kiawa_Proyecto/Objetos_Negocios/nbproject/
/Kiawa_Proyecto/Subsistema_Ubicaciones/target/
/Kiawa_Proyecto/Subsistema_Platillos/target/
/Kiawa_Proyecto/Subsistema_Pedidos/target/
